{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <div class="blue2">
        {% if error %}  
            <p style="color: black;"><strong>Error</strong>: {{error}}</p>  
        {% endif %}
        <h1 class="gvp">
            Register
        </h1>
    </div>
    <div  style="padding: 3vh;">
        <form action="/register" method="post">
            <div>
                <input autocomplete="off" autofocus id="username" name="username" placeholder="Username" type="text">
            </div>
            <div>
                <input id="password" name="password" placeholder="Password" type="password">
            </div>
            <div>
                <input id="confirm" name="confirm" placeholder="Confirm Password" type="password">
            </div>
            <h5 style="padding: 3vh;">password must at least be 8 characters long and contain 1 number</h5>
            <button type="submit">Register</button>
        </form>
        <form action="/login">
            <button>Login</button>
        </form>
    </div>
{% endblock %}